*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}

.navbar{
    display: flex;
    height: 62px;
    background-color: #0f1111;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    padding-left: 10px;
    padding-top: 10px;
    height: 34.6px;
    width: 114.66px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 34.6px;
    width: 100%;

}

.border{
    padding-right: 10px;
    padding-bottom: 12.5px;
    border: 1.2px solid transparent;
    border-radius: 2%;
}

.border:hover{
    border: 1.2px solid white;
    border-radius: 2%;
}


/* box 2 */

.add-icon{
    display: flex;
    align-items: center;

}

.add-first{

    color: #cccccc;
    font-size: 0.8rem;
}


.add-sec{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}


/* search bar */

.nav-search{

    display: flex;
    justify-self: space-evenly;
    align-items: center;
    background-color: #febd68;
    width: 600px;
    height:42px;
    border-radius: 4px;
    
}

.nav-search:hover{
    border: 1px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    height: 41px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    height: 39px;
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width:45px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    color: #0f1111;
}


/* box 4 */

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
}

/* box 6 */

.nav-cart i{
    font-size: 30px;
}

.nar-cart {
    font-size: 0.75rem;
    font-weight: 700;
}

/* panel */

.panel{
    height: 45px;
    background-color: #232F3E;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.panel-all{
    margin-top: 12px;
}
.panel-ops p{
    display: inline;
    font-size: 0.85rem;
    margin-left: 15px;
}

.panel-ops{
    width: 80%;
}

.panel-deals{
    font-weight: 700;
}


/* hero section */

.hero-section{
    background-image: url(hero_section.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 40px;
}

.hero-message a{
    color: #007185;
    text-decoration: none;
}


/* shop section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #d6edfb;
}

.box {

    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}

.box-img{
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box-content{
    margin-left:1rem ;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
    font-size: 0.85rem;
}


/* footer */

footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #28476b;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 430px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
    font-size: 0.8rem;
    color: #DDDDDD;
    margin-top: 15px;
}

ul{
    margin-top: 70px;
}
ul p{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 5px;
}


.foot-panel3{
    background-color: #222f3d;
    color: white;
    height: 70px;
    border-top:0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo2{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 26.6px;
    width: 90px;
    
}

.country{
    display: flex;
}

.p4{
    border: 0.75px solid #cccccc;
    margin: 5px;
    padding-left:15px;
    padding-right:15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    border-radius: 2%;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.75rem;
    text-align: center;
}

.pages{
    text-decoration: none;
    padding-top: 20px;
}

.copyright{
    padding-top: 5px;
}
